body, div, h1, form, html, p{
	background-color: #000000;
	color: #ffffff;
}
h1{
	margin-bottom: 1em;
}
.formLabel, .formRadio{
	display: inline-block;

}
.row-custom{
	margin-top: 2.5em;
}
#font1{
	font-family: 'Press Start 2P', cursive;
}
#font2{
	font-family: 'Alfa Slab One', cursive;
}
img{
	margin-top: 4em;
}
#messageBlock{
	height: 98vh;
	line-height: 98vh;
	font-size: 48vh;
	max-height: 100vh;
	overflow-x: scroll;
	white-space: nowrap;
	text-align: left;
	letter-spacing: 0.1em;
}
*{
	max-height: 100vh;
}
